<template name="fullpostItem">
 
    <h4>
      <span class="brand">Brand: {{brand}}</span>
    </h4>
    <h4>
      <span class="model">Model: {{model}}</span>
    </h4>
    <h4>
      <span class="height">Height: {{height}}</span>
    </h4>
    <h4>
      <span class="width">{{width}}</span>
      <span class="thickness">{{thickness}}</span>
      <span class="boardType">{{boardType}}</span>
      <span class="tailType">{{tailType}}</span>
      <span class="finSetup">{{finSetup}}</span>
      <span class="finSystem">{{finSystem}}</span>
      <span class="price">{{price}}</span>
      <span class="location">{{location}}</span>
      <span class="email">{{email}}</span>
      <span class="phone">{{phone}}</span>
    </h4>
   

</template>
