

<template name="postSubmit">
   
  <form class="main form page">    
        {{> imageUpload}}
    <div class="form-group">
      <label class="control-label" for="url">Brand Name</label>
      <div class="controls">
          <input name="brand" id="brand" type="text" value="" placeholder="Channel Islands" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="title">Model Name</label>
      <div class="controls">
          <input name="model" id="model" type="text" value="" placeholder="DFR" class="form-control"/>
      </div>
    </div>
      <div class="form-group">
      <label class="control-label" for="title">Height</label>
      <div class="controls">
          <input name="height" id="height" type="text" value="" placeholder="5'10" class="form-control"/>
      </div>
    </div>
      <div class="form-group">
      <label class="control-label" for="title">Width</label>
      <div class="controls">
          <input name="width" id="width" type="text" value="" placeholder="19 3/16" class="form-control"/>
      </div>
    </div>
      <div class="form-group">
      <label class="control-label" for="title">Thickness</label>
      <div class="controls">
          <input name="thickness" id="thickness" type="text" value="" placeholder="2 1/4" class="form-control"/>
      </div>
    </div>
      <div class="form-group">
      <label class="control-label" for="title">Board Type</label>
      <div class="controls">
          <input name="boardType" id="boardType" type="text" value="" placeholder="Shortboard" class="form-control"/>
      </div>
    </div>
      <div class="form-group">
      <label class="control-label" for="title">Tail Type</label>
      <div class="controls">
          <input name="tailType" id="tailType" type="text" value="" placeholder="Squash" class="form-control"/>
      </div>
    </div>
      <div class="form-group">
      <label class="control-label" for="title">Fin Set-up</label>
      <div class="controls">
          <input name="finSetup" id="finSetup" type="text" value="" placeholder="Quad" class="form-control"/>
      </div>
    </div>
      <div class="form-group">
      <label class="control-label" for="title">Fin System</label>
      <div class="controls">
          <input name="finSystem" id="finSystem" type="text" value="" placeholder="Futures" class="form-control"/>
      </div>
    </div>
      <div class="form-group">
      <label class="control-label" for="title">Asking Price</label>
      <div class="controls">
          <input name="price" id="price" type="text" value="" placeholder="$190" class="form-control"/>
      </div>
    </div>
      <div class="form-group">
      <label class="control-label" for="title">Location</label>
      <div class="controls">
          <input name="location" id="location" type="text" value="" placeholder="Newport Beach, Orange County, California" class="form-control"/>
      </div>
    </div>
      <div class="form-group">
      <label class="control-label" for="title">Email</label>
      <div class="controls">
          <input name="email" id="email" type="text" value="" placeholder="donniekookmeyer@surfboardhub.com" class="form-control"/>
      </div>
    </div>
      <div class="form-group">
      <label class="control-label" for="title">Phone</label>
      <div class="controls">
          <input name="phone" id="phone" type="text" value="" placeholder="949.699.6969" class="form-control"/>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>

